header {
  background-color: #e09870;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 200px;
  height: 7vh;
  margin-left: 10%;
}
