.item1 { grid-area: slider; }
.item2 { grid-area: eventdetail; }
.item3 { grid-area: ticket; }
.item4 { grid-area: location; }
.item5 { grid-area: socialmedia; }

.grid-container {
    display: grid;
    grid-template-areas:
    'slider eventdetail eventdetail'
    'slider ticket ticket'
    'slider location location'
    'slider socialmedia socialmedia';
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
  }
  
  .grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding:0;
    font-size: 18px;
  }